/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #202020BB;
    background-opq: #202020BB;
    background-alt: #1A1A1ABB;
    foreground:     #FFFFFFFF;
    selected:       #A0A0A0DE;
    active:         #98C379FF;
    urgent:         #E06B74FF;
}
